---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

// Generate static pages
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({ params: { slug: post.slug } }));
}

const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");
const post = await getEntry("posts", slug);
if (!post) throw new Error("No post found for this slug");

const authors = await Promise.all(
  post.data.authors.map(async (authorSlug) => {
    const authorEntry = await getEntry("authors", authorSlug!);
    if (!authorEntry) throw new Error(`Author not found: ${authorSlug}`);
    return authorEntry.data;
  })
);

console.log(authors);

const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div class="max-w-5xl space-y-6 mx-auto">
    <h1>{post.data.title}</h1>
    <img src={authors[0].avatar} alt={authors[0].name} />
    <p>{post.data.authors?.join(", ")}</p>
    <Content />
  </div>
</Layout>
